USE [master]
GO
/****** Object:  Database [ServiciosG11BD]    Script Date: 25/04/2020 13:38:43 ******/
CREATE DATABASE [ServiciosG11BD]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServiciosG11BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServiciosG11BD]
GO
/****** Object:  Schema [desarrollo]    Script Date: 25/04/2020 13:38:43 ******/
CREATE SCHEMA [desarrollo]
GO
/****** Object:  Table [dbo].[Asignacion]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignacion](
	[idmanzana] [int] NOT NULL,
	[idencuestador] [int] NOT NULL,
	[fecinicio] [date] NOT NULL,
	[idsupervisor] [int] NOT NULL,
	[fecfin] [date] NULL,
	[fecregistro] [date] NOT NULL,
	[fecultmodifica] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[idpadron] [int] NOT NULL,
	[fechoraregistro] [datetime] NOT NULL,
	[estado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ficha]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ficha](
	[idficha] [int] IDENTITY(1,1) NOT NULL,
	[tipoconsumidor] [varchar](1) NOT NULL,
	[numhabitantes] [int] NOT NULL,
	[coordenadax] [varchar](20) NOT NULL,
	[coordenaday] [varchar](20) NOT NULL,
	[idmanzana] [int] NOT NULL,
	[idcliente] [int] NOT NULL,
	[idencuestador] [int] NOT NULL,
	[montopago] [decimal](5, 2) NULL,
	[costo] [decimal](5, 2) NULL,
	[estado] [char](1) NOT NULL,
	[fechoraregistro] [datetime] NOT NULL,
	[fechoramodifica] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manzana]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manzana](
	[idmanzana] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](5) NOT NULL,
	[idsector] [int] NOT NULL,
	[estado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Padron]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Padron](
	[idpadron] [int] IDENTITY(1,1) NOT NULL,
	[idtipo] [int] NOT NULL,
	[numdoc] [varchar](15) NOT NULL,
	[nombres] [varchar](40) NULL,
	[apellidos] [varchar](40) NULL,
	[razon_social] [varchar](50) NULL,
	[sexo] [char](1) NULL,
	[fecnacimiento] [date] NOT NULL,
	[direccion] [varchar](200) NOT NULL,
	[idubigeo] [int] NOT NULL,
	[fechoraregistro] [datetime] NOT NULL,
	[estado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sector]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sector](
	[idsector] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[idtipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trabajador]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajador](
	[idtrabajador] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](25) NOT NULL,
	[contrasena] [varbinary](8000) NOT NULL,
	[tipo] [char](1) NOT NULL,
	[idpadron] [int] NOT NULL,
	[estado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubigeo](
	[idubigeo] [int] IDENTITY(1,1) NOT NULL,
	[cod_dpto] [varchar](2) NOT NULL,
	[nom_dpto] [varchar](30) NOT NULL,
	[cod_prov] [varchar](2) NOT NULL,
	[nom_prov] [varchar](30) NOT NULL,
	[cod_dto] [varchar](2) NOT NULL,
	[nom_dto] [varchar](60) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadUso]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadUso](
	[idunidaduso] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[categoria] [varchar](3) NOT NULL,
	[idficha] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [desarrollo].[Dato]    Script Date: 25/04/2020 13:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [desarrollo].[Dato](
	[col1] [int] NULL,
	[col2] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Asignacion] ([idmanzana], [idencuestador], [fecinicio], [idsupervisor], [fecfin], [fecregistro], [fecultmodifica]) VALUES (2, 11, CAST(N'2020-01-19' AS Date), 1, NULL, CAST(N'2020-04-25' AS Date), NULL)
INSERT [dbo].[Asignacion] ([idmanzana], [idencuestador], [fecinicio], [idsupervisor], [fecfin], [fecregistro], [fecultmodifica]) VALUES (2, 12, CAST(N'2020-01-19' AS Date), 1, NULL, CAST(N'2020-04-25' AS Date), NULL)
INSERT [dbo].[Asignacion] ([idmanzana], [idencuestador], [fecinicio], [idsupervisor], [fecfin], [fecregistro], [fecultmodifica]) VALUES (2, 13, CAST(N'2020-01-19' AS Date), 1, NULL, CAST(N'2020-04-25' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idcliente], [idpadron], [fechoraregistro], [estado]) VALUES (1, 51, CAST(N'2000-01-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Cliente] ([idcliente], [idpadron], [fechoraregistro], [estado]) VALUES (2, 52, CAST(N'2000-01-02T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Cliente] ([idcliente], [idpadron], [fechoraregistro], [estado]) VALUES (3, 53, CAST(N'2000-01-03T00:00:00.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Manzana] ON 

INSERT [dbo].[Manzana] ([idmanzana], [nombre], [idsector], [estado]) VALUES (1, N'0001', 1, 0)
INSERT [dbo].[Manzana] ([idmanzana], [nombre], [idsector], [estado]) VALUES (2, N'0002', 1, 1)
INSERT [dbo].[Manzana] ([idmanzana], [nombre], [idsector], [estado]) VALUES (3, N'0003', 1, 1)
SET IDENTITY_INSERT [dbo].[Manzana] OFF
SET IDENTITY_INSERT [dbo].[Padron] ON 

INSERT [dbo].[Padron] ([idpadron], [idtipo], [numdoc], [nombres], [apellidos], [razon_social], [sexo], [fecnacimiento], [direccion], [idubigeo], [fechoraregistro], [estado]) VALUES (1, 1, N'40249116', N'DABADU', N'MARCA LAURA', NULL, NULL, CAST(N'1970-01-01' AS Date), N'CA. San Martín de porras S/n', 1, CAST(N'2020-04-18T12:39:16.277' AS DateTime), 1)
INSERT [dbo].[Padron] ([idpadron], [idtipo], [numdoc], [nombres], [apellidos], [razon_social], [sexo], [fecnacimiento], [direccion], [idubigeo], [fechoraregistro], [estado]) VALUES (2, 1, N'22061157', N'LEONCIO', N'PAREJA SALINAS', NULL, N'M', CAST(N'1970-01-02' AS Date), N'CA. FERMIN DEL CASTILLO 421-6', 1, CAST(N'2020-04-18T12:39:16.277' AS DateTime), 1)
INSERT [dbo].[Padron] ([idpadron], [idtipo], [numdoc], [nombres], [apellidos], [razon_social], [sexo], [fecnacimiento], [direccion], [idubigeo], [fechoraregistro], [estado]) VALUES (3, 1, N'22102256', N'RUBI', N'LESCANO TORREALVA', NULL, N'F', CAST(N'1970-01-03' AS Date), N'ML. TIERRAS BLANCAS S/N', 1, CAST(N'2020-04-18T12:39:16.277' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Padron] OFF
SET IDENTITY_INSERT [dbo].[Sector] ON 

INSERT [dbo].[Sector] ([idsector], [nombre], [descripcion], [estado]) VALUES (1, N'SECTOR_NOROESTE', N'-', 1)
INSERT [dbo].[Sector] ([idsector], [nombre], [descripcion], [estado]) VALUES (2, N'SECTOR_NORESTE', N'-', 1)
INSERT [dbo].[Sector] ([idsector], [nombre], [descripcion], [estado]) VALUES (3, N'SECTOR_SUROESTE', N'-', 1)
SET IDENTITY_INSERT [dbo].[Sector] OFF
SET IDENTITY_INSERT [dbo].[TipoDocumento] ON 

INSERT [dbo].[TipoDocumento] ([idtipo], [nombre]) VALUES (1, N'LIBRETA ELECTORAL O DNI')
INSERT [dbo].[TipoDocumento] ([idtipo], [nombre]) VALUES (2, N'CARNET DE EXTRANJERIA')
INSERT [dbo].[TipoDocumento] ([idtipo], [nombre]) VALUES (3, N'REG. UNICO DE CONTRIBUYENTES')
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF
SET IDENTITY_INSERT [dbo].[Trabajador] ON 

INSERT [dbo].[Trabajador] ([idtrabajador], [usuario], [contrasena], [tipo], [idpadron], [estado]) VALUES (1, N'usuario1', 0xE38AD214943DAAD1D64C102FAEC29DE4AFE9DA3D, N'S', 1, 1)
INSERT [dbo].[Trabajador] ([idtrabajador], [usuario], [contrasena], [tipo], [idpadron], [estado]) VALUES (2, N'usuario2', 0x2AA60A8FF7FCD473D321E0146AFD9E26DF395147, N'S', 2, 1)
INSERT [dbo].[Trabajador] ([idtrabajador], [usuario], [contrasena], [tipo], [idpadron], [estado]) VALUES (3, N'usuario3', 0x1119CFD37EE247357E034A08D844EEA25F6FD20F, N'S', 3, 1)
SET IDENTITY_INSERT [dbo].[Trabajador] OFF
SET IDENTITY_INSERT [dbo].[Ubigeo] ON 

INSERT [dbo].[Ubigeo] ([idubigeo], [cod_dpto], [nom_dpto], [cod_prov], [nom_prov], [cod_dto], [nom_dto]) VALUES (1, N'15', N'LIMA', N'08', N'HUAURA', N'01', N'HUACHO')
INSERT [dbo].[Ubigeo] ([idubigeo], [cod_dpto], [nom_dpto], [cod_prov], [nom_prov], [cod_dto], [nom_dto]) VALUES (2, N'15', N'LIMA', N'08', N'HUAURA', N'02', N'AMBAR')
INSERT [dbo].[Ubigeo] ([idubigeo], [cod_dpto], [nom_dpto], [cod_prov], [nom_prov], [cod_dto], [nom_dto]) VALUES (3, N'15', N'LIMA', N'08', N'HUAURA', N'03', N'CALETA DE CARQUIN')
SET IDENTITY_INSERT [dbo].[Ubigeo] OFF
INSERT [desarrollo].[Dato] ([col1], [col2]) VALUES (1, 1)
INSERT [desarrollo].[Dato] ([col1], [col2]) VALUES (1, 1)
INSERT [desarrollo].[Dato] ([col1], [col2]) VALUES (1, 2)
/****** Object:  Index [PK8]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[Asignacion] ADD  CONSTRAINT [PK8] PRIMARY KEY NONCLUSTERED 
(
	[idmanzana] ASC,
	[idencuestador] ASC,
	[fecinicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK1]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [PK1] PRIMARY KEY NONCLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK9]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[Ficha] ADD  CONSTRAINT [PK9] PRIMARY KEY NONCLUSTERED 
(
	[idficha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK7]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[Manzana] ADD  CONSTRAINT [PK7] PRIMARY KEY NONCLUSTERED 
(
	[idmanzana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK5]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[Padron] ADD  CONSTRAINT [PK5] PRIMARY KEY NONCLUSTERED 
(
	[idpadron] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK6]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[Sector] ADD  CONSTRAINT [PK6] PRIMARY KEY NONCLUSTERED 
(
	[idsector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK2]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[TipoDocumento] ADD  CONSTRAINT [PK2] PRIMARY KEY NONCLUSTERED 
(
	[idtipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK4]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[Trabajador] ADD  CONSTRAINT [PK4] PRIMARY KEY NONCLUSTERED 
(
	[idtrabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK3]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[Ubigeo] ADD  CONSTRAINT [PK3] PRIMARY KEY NONCLUSTERED 
(
	[idubigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK10]    Script Date: 25/04/2020 13:38:44 ******/
ALTER TABLE [dbo].[UnidadUso] ADD  CONSTRAINT [PK10] PRIMARY KEY NONCLUSTERED 
(
	[idunidaduso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignacion]  WITH CHECK ADD  CONSTRAINT [RefManzana11] FOREIGN KEY([idmanzana])
REFERENCES [dbo].[Manzana] ([idmanzana])
GO
ALTER TABLE [dbo].[Asignacion] CHECK CONSTRAINT [RefManzana11]
GO
ALTER TABLE [dbo].[Asignacion]  WITH CHECK ADD  CONSTRAINT [RefTrabajador14] FOREIGN KEY([idencuestador])
REFERENCES [dbo].[Trabajador] ([idtrabajador])
GO
ALTER TABLE [dbo].[Asignacion] CHECK CONSTRAINT [RefTrabajador14]
GO
ALTER TABLE [dbo].[Asignacion]  WITH CHECK ADD  CONSTRAINT [RefTrabajador15] FOREIGN KEY([idsupervisor])
REFERENCES [dbo].[Trabajador] ([idtrabajador])
GO
ALTER TABLE [dbo].[Asignacion] CHECK CONSTRAINT [RefTrabajador15]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [RefPadron4] FOREIGN KEY([idpadron])
REFERENCES [dbo].[Padron] ([idpadron])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [RefPadron4]
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD  CONSTRAINT [RefCliente17] FOREIGN KEY([idcliente])
REFERENCES [dbo].[Cliente] ([idcliente])
GO
ALTER TABLE [dbo].[Ficha] CHECK CONSTRAINT [RefCliente17]
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD  CONSTRAINT [RefManzana16] FOREIGN KEY([idmanzana])
REFERENCES [dbo].[Manzana] ([idmanzana])
GO
ALTER TABLE [dbo].[Ficha] CHECK CONSTRAINT [RefManzana16]
GO
ALTER TABLE [dbo].[Ficha]  WITH CHECK ADD  CONSTRAINT [RefTrabajador18] FOREIGN KEY([idencuestador])
REFERENCES [dbo].[Trabajador] ([idtrabajador])
GO
ALTER TABLE [dbo].[Ficha] CHECK CONSTRAINT [RefTrabajador18]
GO
ALTER TABLE [dbo].[Manzana]  WITH CHECK ADD  CONSTRAINT [RefSector8] FOREIGN KEY([idsector])
REFERENCES [dbo].[Sector] ([idsector])
GO
ALTER TABLE [dbo].[Manzana] CHECK CONSTRAINT [RefSector8]
GO
ALTER TABLE [dbo].[Padron]  WITH CHECK ADD  CONSTRAINT [RefTipoDocumento6] FOREIGN KEY([idtipo])
REFERENCES [dbo].[TipoDocumento] ([idtipo])
GO
ALTER TABLE [dbo].[Padron] CHECK CONSTRAINT [RefTipoDocumento6]
GO
ALTER TABLE [dbo].[Padron]  WITH CHECK ADD  CONSTRAINT [RefUbigeo7] FOREIGN KEY([idubigeo])
REFERENCES [dbo].[Ubigeo] ([idubigeo])
GO
ALTER TABLE [dbo].[Padron] CHECK CONSTRAINT [RefUbigeo7]
GO
ALTER TABLE [dbo].[Trabajador]  WITH CHECK ADD  CONSTRAINT [RefPadron3] FOREIGN KEY([idpadron])
REFERENCES [dbo].[Padron] ([idpadron])
GO
ALTER TABLE [dbo].[Trabajador] CHECK CONSTRAINT [RefPadron3]
GO
ALTER TABLE [dbo].[UnidadUso]  WITH CHECK ADD  CONSTRAINT [RefFicha19] FOREIGN KEY([idficha])
REFERENCES [dbo].[Ficha] ([idficha])
GO
ALTER TABLE [dbo].[UnidadUso] CHECK CONSTRAINT [RefFicha19]
GO
USE [master]
GO
